{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    Sign up
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='sign.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" action="{{url_for('signup')}}" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>

{% endblock %}